nav {
    background-color: rgb(133, 225, 142);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: larger;
    display: grid;
    grid-template-columns: 18% 25% 25% 25%;
   }

body {
    background-color: rgb(85, 225, 97);
}

h1 {
    text-align: center;
    font-size: 20pt;
    margin-top: 4%;
}
p {
    text-align: center;
    font-size: 20pt;
    margin-top: 4%;
}

footer {
    background-color: rgb(133, 225, 142);
    display: grid;
    grid-template-columns: 3% 51%;
    margin-top:18%;
    }